* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header {
    background-color: #FFDBC3;
    grid-column: 2 / 3;
}

aside {
    background-color: #3D246C;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 1.4rem;
    height: 100%;
}

main {
    background-color: #9F91CC;
    grid-row: 2 / 5;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    
}

li {
    margin-bottom: 17px;
    font-family: "Inter", "Roboto", sans-serif;
    font-weight: 300;
    width: 70%;
}

li:hover {
    cursor: pointer;
    text-shadow: 0 0 4px #FFDBC3;
    scale: 1.08;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Inter", "Roboto", sans-serif;
    font-weight: 700;
    height: 100px;
}

#logo h1:hover {
    color: #FFDBC3;
    cursor:default;
}

#logo div {
    width: 3rem;
}


.dash-links ul li::before,
.secondary-links ul li::before {
    content: ""; 
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 30px; 
    vertical-align: middle;
}

.dash-links ul li:nth-child(1)::before {
    background-image: url("home.svg");
}
.dash-links ul li:nth-child(2)::before {
    background-image: url("profile.svg");
}
.dash-links ul li:nth-child(3)::before {
    background-image: url("messages.svg");
}
.dash-links ul li:nth-child(4)::before {
    background-image: url("history.svg");
}
.dash-links ul li:nth-child(5)::before {
    background-image: url("tasks.svg");
}
.dash-links ul li:nth-child(6)::before {
    background-image: url("communities.svg");
}

.secondary-links ul li:nth-child(1)::before {
    background-image: url("settings.svg");
}
.secondary-links ul li:nth-child(2)::before {
    background-image: url("support.svg");
}
.secondary-links ul li:nth-child(3)::before {
    background-image: url("privacy.svg");
}

header div img {
    border-radius: 50%;
    width: 4.3rem;
}





