* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header {
    background-color: violet;
    grid-column: 2 / 3;
}

aside {
    background-color: purple;
    grid-row: 1 / 4;
}

main {
    background-color: green;
    grid-row: 2 / 4;
}
